* text=auto

*.css      text eol=lf
*.hcl      text eol=lf
*.inc      text eol=lf
*.js       text eol=lf
*.json     text eol=lf
*.md       text eol=lf
*.php      text eol=lf
*.php.dist text eol=lf
*.sh       text eol=lf
*.sql      text eol=lf
*.yaml     text eol=lf
*.yml      text eol=lf

